.div-footer{
    width: 100%;
    background-color: #039eb9;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-footer{
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    height: 100%;
    width: 90%;
    font-size: 13px;
    background-color: #039eb9;
}

.container-footer p{
    background-color: #039eb9;
}
