.input-class{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.input-class input{
    width: 80%;
    height: 47px;
    border-radius: 30px;
    padding-left: 20px;
    border: 1px solid #1266F1;
    font-size: 15px;
    margin-bottom: 20px;
    background-color: #e7e7e7;
}

.input-class input::placeholder{
    color: rgb(73, 73, 73);
    font-size: 13px;
}

.input-class input:focus{
    outline: none;
    border: 2px solid #007bff;
}

.input-class label{
    margin-bottom: 2px;
    margin-left: 50px;
    color: black;
    align-self: flex-start;
}